@page "/login"

<PageTitle>Login</PageTitle>

<h1>Login pagina</h1>

<div>
    <input type="text" id="username"/>
    <input type="text" id="wachtwoord"/>
     <input type="button" id="button"
         @onclick="button";
         />

</div>'



@code {
    public void button() {
        Console.WriteLine("jahtoch");
    }
}
